[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/HeartsDo (heartsdo)
	read = group HeartsDo-CI
[access "refs/for/refs/*"]
	read = group user/HeartsDo (heartsdo)
	push = group user/HeartsDo (heartsdo)
	label-Code-Review = -2..+2 group user/HeartsDo (heartsdo)
	label-Verified = -1..+1 group user/HeartsDo (heartsdo)
	rebase = group user/HeartsDo (heartsdo)
	removeReviewer = group user/HeartsDo (heartsdo)
	submit = group user/HeartsDo (heartsdo)
[access "refs/heads/*"]
	read = group user/HeartsDo (heartsdo)
	create = group user/HeartsDo (heartsdo)
	push = +force group user/HeartsDo (heartsdo)
	pushMerge = group user/HeartsDo (heartsdo)
	label-Code-Review = -1..+1 group HeartsDo-CI
	label-Verified = -1..+1 group HeartsDo-CI
[access "refs/tags/*"]
	push = group user/HeartsDo (heartsdo)
	push = +force group user/HeartsDo (heartsdo)
